body{
    background: rgb(27, 0, 100)
}

#mudado{
    background: rgb(97, 71, 71);
    color: black;
    width: 80%; height: 10%;
    position: relative;
    text-align: center;
    border-radius: 20px;
    margin: 0 auto;
}

.classmain{
    margin: 0 auto;
    width: auto; height: auto;
    position: relative;
    display: inline-block;
}

.classmai2{
    margin: 0 auto;
    width: auto; height: auto;
    position: relative;
    display: inline-block;
}

.classmai3{
    margin: 0 auto;
    position: relative;
    width: auto; height: auto;
    display: inline-block;
}